// 修改主题颜色
:root {
  --vp-c-bg: #f0f2f5;
  --vp-c-bg-alt: #fff;
  // --vp-code-block-bg: #fafafa;
}

/* 使用mobile-demo-single，需修改doc展示宽度 */
.vp-doc {
  position: relative;
  max-width: calc(100vw - 860px);
  min-height: 1000px;
}

.content {
  padding: 0;
}

/* 侧边栏边距修改 */
.VPSidebar {
  padding-left: 32px !important;
  width: 260px !important;
}

.title {
  padding-left: 16px !important;
  width: 220px !important;
}

.VPContent {
  padding-left: 260px !important;
}

.VPNavBar.has-sidebar .content {
  padding-left: 260px !important;
}

.VPNavBar.has-sidebar .curtain {
  left: 260px;
}

// 隐藏深色模式
.VPNavBarAppearance {
  display: none !important;
}

// 隐藏滚动条
html {
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar{
  display: none;
}

// 手机模型样式
.mobile-model{
  transform: scale(0.5);
  border-radius: 36px;
  overflow: hidden;
  position: fixed;
  right: -110px;
  top: -280px;
  box-shadow: 5px 5px 40px #e0e0e0;
}
.model-iframe{
  width: 750px;
  height: 1500px;
  background-color: #f7f8fa;
  border: none !important;
}