
// 修改主题颜色
:root {
  --vp-c-bg: #f0f2f5;
  --vp-c-bg-alt: #fff;
  // --vp-code-block-bg: #fafafa;
}

/* 使用mobile-demo-single，需修改doc展示宽度 */
.vp-doc{
  position: relative;
  max-width: calc(100vw - 860px);
  min-height: 1000px;
}

.content{
  padding: 0;
}

/* 侧边栏边距修改 */
.VPSidebar{
  padding-left: 32px !important;
  width: 260px !important;
}

.title{
  padding-left: 16px !important;
  width: 220px !important;
}

.VPContent{
  padding-left: 260px !important;
}

.VPNavBar.has-sidebar .content{
  padding-left: 260px !important;
}

.VPNavBar.has-sidebar .curtain{
  left: 260px;
}

// 隐藏深色模式
.VPNavBarAppearance{
  display: none;
}